/* fonts1*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-fonts {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* fonts2 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.noto-sans-fonts {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */

.display-flex{
    display: flex;
}

.light-gray{
    color: #8987A1;
}
.dark-black{
    color: #000000;
}
.light-black{
    color: #252432;
}
.orange{
    color: #E95A08;
}
.primary-color{
    color: rgba(0, 0, 0, 0.5);
}
.dark-black-2{
    color: #111111;
}

/* navbar style */

.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 60px;
    
}

.navbar{
    justify-content: space-between;
}

.navbar , .banner{
    max-width: 1140px;
    margin: 0 auto;
}

.navbar-paragraph{
    margin-top: 2px;
    margin-left: 1px;
}

.cart-icon{
    width: 23px;
    height: 23px;
}
/* banner-style */

.banner{
    align-items: end;

}
.banner-title{
    font-weight: bold;
    font-size: 60px;
}


.banner-image{
    width: 100%;
}

/* card related style */
 .card-content{
    max-width: 850px;
    margin: 0 auto;
 }

 .card-header{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
 }

 .card-description{
    text-align: center;

 }
 .card-title{
    font-size: 22px;
    font-weight: 500px;
 }

 .card-price{
    font-size: 22px;
    font-weight: bold;
 }
.card-btn{
    background-color: #E95A08;
    width: 270px;
    padding: 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.card-section{
     max-width: 1140px;
     margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
     
}

.card-container{
    text-align: center;
    padding: 10px;
    width: 100%;

}

/* flower and plant lover section */
.plantstore-section{
    max-width: 1140px;
    margin: 0 auto;

    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    border: 2px solid blue;

}
.flower-div{
    position: relative;
    
}  

.trusted-badge{
    width: 250px;
    height: 250px;
    position: absolute;
    top: -110px;
    right: -110px;
       
}

.plantstore-header{
    font-size: 45px;
    font-weight: bold;
    /* padding-left: 250px;
    margin-top: 30px; */
} 

.plantstore-item{
    font-size: 22px;
    /* padding-left: 250px;    */
}

/* latest deals section */

.dis-content{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.dis-header {
    font-size: 50px;
    font-weight: bold;
}
.dis-description{
    font-size: 22px;
}

.dis-section{
    
    border: 2px solid greenyellow;
    margin: 0 130px;
    display: grid;
    grid-template-columns: 300px 750px;
    gap: 20px;

}

.dis-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-1, .image-2, .image-3{
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    color: white;
    /* padding: 20px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.image-1{
    background-image: url('/assets/deal-bloom.png');

}

.image-2{
    background-image: url('/assets/deal-ana.png');

}

.image-3{
    background-image: url(../assets/deal-zabo.png);
}








/* media responsive */

@media screen and (max-width: 576px) {
    ul li{
        display: none;
    }
       .banner{
        flex-direction: column-reverse;
    }    
    .banner-title , .card-header{
        font-size: 24px;
    }

    .card-description , .banner-description {
        font-size: 14px;
    }
    .card-section{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }


   
}